<div class="card articleInfo" style="width: 18rem;">
    <!--Property binding-->
    <img class="card-img-top" [src]="urlImg" [alt]="textAlternative">
    <div class="card-body">
    <!--Data binding-->
      <h5 class="card-title">{{ titreArticle }}</h5>
      <h6 class="card-title">{{ prixArticle }} $</h6>
      <p class="card-text">Description</p>
      <!--Event binding-->
      <button href="#" class="btn btn-primary" (click)="onLike()">J'aime</button>
      <p>Nombre(s) de like: {{nbreTotalLike}}</p>
        <!--Two way binding-->
      <input type="text" [(ngModel)]="comment">
      <p>Commentaire: {{comment}}</p>
    </div>
  </div>