.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color:#13316d;
  color: #fff;
  padding: 10px;
  ul {
    list-style: none;
    li {
      display: inline-block;
      justify-content: space-between;
      margin-right: 10px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

