<div class="container">
    <form >
        <div class="row">
            <div class="col">
                <input placeholder="Nom" name="lastName" type="text">
            </div>
            <div class="col">
                <input placeholder="Prenom" name="firstName" type="text">
            </div>
            <div class="col">
                <input placeholder="Genre" name="gender" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input placeholder="Date de naissance" name="birthDate" type="text">
            </div>
            <div class="col">
                <input placeholder="Nom utilisateur" name="login" type="email">
            </div>
            <div class="col">
                <input placeholder="Mot de passe" name="password" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input placeholder="Entreprise"  name="companyName" type="text">
            </div>
            <div class="col">
                <button type="submit"> S'inscrire</button>
            </div>
            
        </div>
    </form>
</div>